README.md
scripts/buildImagesKovan.sh
scripts/runImagesKovan.sh
scripts/buildImagesMainnet.sh
scripts/runImagesMainnet.sh
**/docker-compose.yml
.dockerignore
**/Dockerfile
**/node_modules
**/build
**/*.log
**/*.md
**/.git
**/.tsbuildinfo
**/package-lock.json
.gitattributes
frontend/dist
frontend/build
frontend/.cache
frontend/server.*
contracts/abi
contracts/parity
semaphore/docs
semaphore/semaphorejs/blake2sdef.json
semaphore/semaphorejs/build/*
circuit.json
backend/snarks/*
